Repository Yoast/yoastcs, pull requests merged in 2022-03, with the labels that each got.

#278 Change the minimum_supported_version to WP 5.8
  Yoast/ruleset.xml
Labels: yoast cs/qa

#273 New `BrainMonkeyRaceCondition` sniff
  Yoast/Docs/Tools/BrainMonkeyRaceConditionStandard.xml
  Yoast/Sniffs/Tools/BrainMonkeyRaceConditionSniff.php
  Yoast/Tests/Tools/BrainMonkeyRaceConditionUnitTest.inc
  Yoast/Tests/Tools/BrainMonkeyRaceConditionUnitTest.php
Labels: needs-code-review, yoast cs/qa

#279 Commenting/FileComment: allow for PHPCS disable annotation in file docblock
  Yoast/Sniffs/Commenting/FileCommentSniff.php
  Yoast/Tests/Commenting/FileCommentUnitTest.15.inc
  Yoast/Tests/Commenting/FileCommentUnitTest.16.inc
  Yoast/Tests/Commenting/FileCommentUnitTest.17.inc
  Yoast/Tests/Commenting/FileCommentUnitTest.18.inc
  Yoast/Tests/Commenting/FileCommentUnitTest.19.inc
  Yoast/Tests/Commenting/FileCommentUnitTest.20.inc
  Yoast/Tests/Commenting/FileCommentUnitTest.php
Labels: review-merge, yoast cs/qa

#280 GH Actions: version update for various predefined actions
  .github/workflows/basics.yml
  .github/workflows/quicktest.yml
  .github/workflows/test.yml
Labels: yoast cs/qa
