Repository Yoast/yoastcs, pull requests merged in 2023-12, with the labels that each got.

#355 Switch to PHPCSStandards/PHP_CodeSniffer
  .github/CONTRIBUTING.md
  .phpcs.xml.dist
  CHANGELOG.md
  README.md
  Yoast/ruleset.xml
  composer.json
Labels: Type: enhancement, Feature: YoastCS ruleset and sniffs, yoast cs/qa

#356 Tests: allow for PHPUnit 8/9
  .github/workflows/basics.yml
  .github/workflows/quicktest.yml
  .github/workflows/test.yml
  .gitignore
  Yoast/Tests/Utils/PSR4PathsTraitTest.php
  composer.json
Labels: yoast cs/qa, Type: chores/QA

#357 Utils/CustomPrefixes: minor improvements
  Yoast/Utils/CustomPrefixesTrait.php
Labels: Feature: YoastCS ruleset and sniffs, yoast cs/qa, Type: chores/QA

#358 YoastCS: minor ruleset tweaks
  Yoast/ruleset.xml
Labels: Feature: YoastCS ruleset and sniffs, yoast cs/qa, Type: chores/QA

#359 Composer: add Slevomat Coding Standards requirement
  .github/workflows/basics.yml
  README.md
  Yoast/ruleset.xml
  autoload-bootstrap.php
  composer.json
Labels: Type: enhancement, Feature: YoastCS ruleset and sniffs, yoast cs/qa

#360 YoastCS: add more generic rules
  Yoast/ruleset.xml
Labels: Type: enhancement, Feature: YoastCS ruleset and sniffs, yoast cs/qa

#361 YoastCS rules: flag unused/undefined variables
  .github/workflows/basics.yml
  README.md
  Yoast/Reports/Threshold.php
  Yoast/ruleset.xml
  composer.json
Labels: Type: enhancement, Feature: YoastCS ruleset and sniffs, yoast cs/qa

#362 YoastCS: more code structure rules
  Yoast/ruleset.xml
Labels: Type: enhancement, Feature: YoastCS ruleset and sniffs, yoast cs/qa

#363 YoastCS: more namespace/import use rules
  Yoast/ruleset.xml
Labels: Type: enhancement, Feature: YoastCS ruleset and sniffs, yoast cs/qa

#364 YoastCS: more docblock/comment rules
  Yoast/Reports/Threshold.php
  Yoast/ruleset.xml
Labels: Type: enhancement, Feature: YoastCS ruleset and sniffs, yoast cs/qa

#365 YoastCS: add extra WP related rules
  .github/workflows/basics.yml
  .github/workflows/quicktest.yml
  .github/workflows/test.yml
  README.md
  Yoast/ruleset.xml
  composer.json
Labels: Type: enhancement, Feature: YoastCS ruleset and sniffs, yoast cs/qa

#366 YoastCS: more modernization rules
  Yoast/ruleset.xml
Labels: Type: enhancement, Feature: YoastCS ruleset and sniffs, yoast cs/qa

#367 YoastCS: add some test specific rules and exceptions
  .phpcs.xml.dist
  Yoast/ruleset.xml
Labels: Type: enhancement, Feature: YoastCS ruleset and sniffs, yoast cs/qa

#368 Add PHPStan to QA checks
  .gitattributes
  .github/workflows/basics.yml
  .gitignore
  phpstan.neon.dist
Labels: yoast cs/qa, Type: chores/QA

#369 Remove PR templates
  .github/PULL_REQUEST_TEMPLATE/dependency_change.md
  .github/PULL_REQUEST_TEMPLATE/generic.md
  .github/PULL_REQUEST_TEMPLATE/sniff_change.md
Labels: yoast cs/qa, Type: chores/QA

#370 Changelog for YoastCS 3.0 + other docs updates
  CHANGELOG.md
  README.md
Labels: yoast cs/qa, Type: documentation, Type: meta

#372 Sets the minimum supported WordPress version to 6.3.
  Yoast/ruleset.xml
Labels: Type: chores/QA
