Repository Yoast/yoastcs, pull requests merged in 2025-03, with the labels that each got.

#391 YoastCS: update ruleset for release of SlevomatCodingStandards 8.16.0
  Yoast/ruleset.xml
Labels: Type: bug, Feature: YoastCS ruleset and sniffs, Type: chores/QA

#392 PathHelperTest: improve data providers
  Yoast/Tests/Utils/PathHelperTest.php
Labels: Type: chores/QA

#393 GH Actions: use the xmllint-validate action runner and enhance checks
  .github/workflows/basics.yml
Labels: Type: chores/QA

#394 PHPStan 2.0: update configuration
  .github/workflows/basics.yml
  Yoast/Sniffs/Commenting/CoversTagSniff.php
  Yoast/Sniffs/NamingConventions/ValidHookNameSniff.php
  Yoast/Sniffs/Tools/BrainMonkeyRaceConditionSniff.php
  Yoast/Sniffs/Yoast/JsonEncodeAlternativeSniff.php
  Yoast/Tests/Utils/PSR4PathsTraitTest.php
  Yoast/Tests/Utils/PathHelperTest.php
  Yoast/Utils/PSR4PathsTrait.php
  Yoast/Utils/PathHelper.php
  phpstan.neon.dist
Labels: Type: chores/QA

#395 YoastCS: update minimum support PHP version to 7.4
  Yoast/ruleset.xml
Labels: yoast cs/qa

#398 Update CS dependencies + add two new sniffs
  Yoast/ruleset.xml
  composer.json
Labels: Type: enhancement, Feature: YoastCS ruleset and sniffs, Type: chores/QA
